@import "tailwindcss";

@layer base {
  html, body {
    background-color: #F3F3F3;
    color: #18181b;
    width: 320px;
    height: 600px;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
}

.font-bebas {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.03em;
}

.font-anton {
  font-family: 'Anton', sans-serif;
  letter-spacing: 0px;
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
}

.font-mono-retro {
  font-family: 'Space Mono', monospace;
}

/* Hide scrollbars globally */
::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
}

* {
  scrollbar-width: none;
}
